.about {
    display: flex;
    justify-content: space-around;
    &-text {
        margin: 12rem;
        width: 70%;
        font-size: 1.7rem;
        animation: text-show 1s ease-out;
    }
    &-pic {
        margin-top: 10rem;
        height: 40rem;
    }
    &-title {
        font-size: 5rem;
        text-align: center;
        margin-top: 20%;
        &-text {
            color: rgb(8, 197, 8);
        }
    }
    &-left-side {
        width: 50%;
        font-size: 1.3rem;
    }
}

.cursor {
    color: red;
}

@keyframes text-show {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }
    // 10% {
    //     transform: translateY(2.5rem);
    // }
    // 30% {
    //     transform: translateY(2rem);
    // }
    // 40% {
    //     transform: translateY(1.5rem);
    //}
    // 50% {
    //     transform: translateY(1rem);
    // }
    // 70% {
    //     transform: translateY(0.5rem);
    // }
    100% {
        transform: translateY(0rem);
    }
}
