.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-title {
        font-size: 2rem;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    &-nav {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &-link {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }
    }
}
