/* .wrapper {
	padding-top: 0.5rem;
	width: 61rem;
	height: 40.5em;
	/* background: linear-gradient(red, yellow, blue); */
/* margin: auto; */
/* border-radius: 1rem; */
/* animation: rotate 2.5s linear infinite; */
/* } */
.feedbackForm {
	box-shadow: 0 0 1vw 1vw white;
	border-radius: 1rem;
	background-color: rgb(47, 47, 46);
	width: 60%;
	height: fit-content;
	margin: auto;
}
.fields {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 60%;
	gap: 1rem;
}
/* .closeBtn {
	display: flex;
	padding-top: 0.4rem;

	margin-left: calc(100% - 1.5rem);
} */
/* @keyframes rotate {
	100% {
		filter: hue-rotate(360deg);
	}
} */
.title {
	padding-top: 1rem;
	width: 70%;
	font-family: "Times New Roman", Times, serif;
	font-size: 3rem;
	margin: 2rem auto;
	text-align: center;
	color: blanchedalmond;
}
.label {
	text-align: center;
	text-transform: uppercase;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.name {
	width: 60%;
	margin: auto;
	height: 2rem;
	font-size: 1.2rem;
	border: 1px solid grey;
	border-radius: 5px;
}
.textArea {
	width: 80%;
	height: 8rem;
	margin: auto;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 1rem;
}

.sendBtn {
	width: 5rem;
	height: 2.5rem;
	border-radius: 5px;
	font-size: medium;
	margin: auto;
	background-color: rgb(174, 145, 93);
}
.popUp {
	margin-top: 10%;
	margin-left: 40%;
	width: fit-content;
	font-size: 2rem;
	border: 2px solid green;
	background-color: rgba(118, 190, 118, 0.863);
}
.error {
	text-align: center;
	margin: 0;
	color: red;
}
@media (max-width: 92em) {
	.title {
		font-size: 1.8rem;
	}
	.popUp {
		font-size: 1.7rem;
	}
}
@media (max-width: 50em) {
	.title {
		font-size: 1.3rem;
	}
	.popUp {
		font-size: 1.4rem;
	}
}
@media (max-width: 42em) {
	.feedbackForm {
		width: 100%;
	}
	.popUp {
		font-size: 1rem;
		margin-left: 20%;
	}
	.textArea {
		width: 90%;
	}
	.fields {
		width: 90%;
	}
	.name {
		width: 80%;
	}
	.title {
		font-size: 1.2rem;
	}
}
