/* ************************************
 FOR 17inch Laptop 1900 /915 
************************************ */

.wrapper {
	padding-top: 8rem;
	display: grid;
	grid-template-columns: 18% 18% 18% 18% 18%;
	justify-content: space-between;
	row-gap: 2rem;
}
.img {
	box-sizing: border-box;
	width: 100%;
	align-items: center;
}

/* ************************************
 FOR 15inch Laptop 1500 /915 
************************************ */
@media (max-width: 94em) {
	.wrapper {
		padding-top: 7rem;
		grid-template-columns: 33% 33% 33%;

		row-gap: 1.8rem;
	}
}

/* ************************************
FOR IPAD  1080/810 Landscape
************************************ */

@media (max-width: 68em) {
	.wrapper {
		grid-template-columns: 32% 32% 32%;
	}
}

/* ************************************
 FOR IPAD 810 /1080 Portrait
************************************ */

@media (max-width: 52em) {
	.wrapper {
		grid-template-columns: 47% 47%;
	}
}
/* ************************************
 FOR Smarrphones 412 /915 Portrait
************************************ */

@media (max-width: 44em) {
	.wrapper {
		width: 100%;
		grid-template-columns: 100%;
	}
}
