html {
    font-size: 62.5%;
    background-color: rgb(219, 154, 107);
}

#root {
    max-width: 141rem;

    margin: 0 auto;
    padding: 0;
    background-color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
